<div id='chart-wrapper'>

  <div *ngIf='chart' id='chart-title'>
    <div *ngIf='chart.config.data.datasets[0].hidden === false'>
      <div class="d-flex justify-content-center display-4">How much Power does the EIB Need?</div>
      <div class='d-flex justify-content-center h5'>Electrical Demand for One Week</div>
    </div>
    <div *ngIf='chart.config.data.datasets[1].hidden === false'>
      <div class="d-flex justify-content-center display-4">How much Heat does the EIB Need?</div>
      <div class='d-flex justify-content-center h5'>Natural Gas Demand for One Week</div>
    </div>
    <div *ngIf='chart.config.data.datasets[2].hidden === false'>
      <div class="d-flex justify-content-center display-4">How much Water does the EIB Use?</div>
      <div class='d-flex justify-content-center h5'>Water Usage for One Week</div>
    </div>
    <div *ngIf='chart.config.data.datasets[0].hidden && chart.config.data.datasets[1].hidden && chart.config.data.datasets[2].hidden'>
      <div class="d-flex justify-content-center display-4">How Cold is it Outside the EIB?</div>
      <div class='d-flex justify-content-center h5'>Temperature for One Week</div>
    </div>
  </div>

  <!-- <div class='d-flex justify-content-center' style='position:relative; padding-left: 10%;' [style.height]='height + "px"' [style.width]='width + "px"'>
    <canvas id='canvas'>{{chart}}</canvas>
  </div> -->

  <div class='d-flex justify-content-center' id='chart-container'>
    <canvas id='canvas'>{{chart}}</canvas>
  </div>

  <div *ngIf='chart' class='d-flex justify-content-center' id="sensor-buttons">
    <span *ngFor='let sensor of chart.config.data.datasets' class="pl-4 pr-4">
      <button class='btn btn-lg' [class.electrical_demand]='sensor.sensorcode === "electrical_demand"' [class.naturalgas_demand]='sensor.sensorcode === "naturalgas_demand"'
        [class.water_usage]='sensor.sensorcode === "water_usage"' [class.temperature]='sensor.sensorcode === "temperature"' (click)='turnOn(sensor)'><strong>{{sensor.label}}</strong></button>
    </span>
  </div>
</div>

<div id='slideshow-btn'>
  <a class='btn btn-lg btn-success' *ngIf='route === "/dashboard"' [routerLink]='["/carousel"]'>Slideshow</a>
</div>
