
#wrapper{
  min-height:100%;
  position:relative;
}
#header {
  background:#336666;
  padding:5px;
  height:75px;
  background-image: url("../assets/img/HeadrTxtr-3.png");
  background-position-x: -20px;
  background-size:100%
}

#header img{
  padding-left: 20vw;
}
#footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:100px;
  padding:0		/* Height of the footer */
}

#body{
 //height:calc(100% - 175px);
  width:100%;
  overflow: hidden;
}
