/* You can add global styles to this file, and also import other style files */
html, body{
  width:100%;
  height:100%;
}

.electrical_demand{
  border-color: rgb(255, 205, 86);
  background-color: rgba(255, 205, 86, 0.5);
}
.naturalgas_demand {
  border-color: rgb(255, 99, 132);
  background-color: rgba(255, 99, 132, 0.5);
}
.water_usage{
  border-color: rgb(65,105,225);
  background-color: rgba(65,105,225, .5);
}
